@{
	ViewBag.Title = "Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/book.css" rel="stylesheet" />


<section class="book-listing">
    <h2>Book Listing</h2>
    <p>Explore our collection of featured books</p>

    <div class="book-container">
        <div>
            <div class="content">
                <h3>Clean Code</h3>
                <span>Robert C. Martin</span>
            </div>
        </div>

        <div>
            <div class="content">
                <h3>Programmatic Programmer</h3>
                <span>Andrew Hunt</span>
            </div>
        </div>

        <div>
            <div class="content">
                <h3>Design Patterns</h3>
                <span>Software Engineering</span>
            </div>
        </div>

        <div>
            <div class="content">
                <h3>Agile Principles</h3>
                <span>Best Practices</span>
            </div>
        </div>

        <div>
            <div class="content">
                <h3>Modern Coding</h3>
                <span>Developer Guide</span>
            </div>
        </div>
    </div>
</section>
``
