@{
	ViewBag.Title = "Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/book.css" rel="stylesheet" />

@* <div>
    <h1>List Of Books</h1>
</div> *@
<div class="book-container">
    <div>
        <div class="content">
            <h2>Clean Code</h2>
            <span>A Handbook of Agile Software Craftsmanship</span>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>David Thomas</h2>
            <span>Front End Designer</span>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Eric Evans</h2>
            <span>Domain Driver Design</span>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>John Ousterhout</h2>
            <span>A philosophy of Software Design</span>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Eric Freeman</h2>
            <span>Design Patterns</span>
        </div>
    </div>
</div>
