@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/home.css" rel="stylesheet" />

<section class="home">
    <div class="home-container">

        <h1>Welcome to ABC</h1>
        <p>
            Supporting Your Growth, One Entry at a Time
        </p>


        <!-- HERO -->
        <div class="container">
            <section class="hero">

                <div class="hero-box">
                    <h1>
                        Your Space.<br>
                        <strong>Your Surface.</strong><br>
                        Your Story.
                    </h1>
                    <a href="#" class="hero-btn">Learn More →</a>
                </div>

            </section>
        </div>

        <!-- COLLECTIONS -->
        <section class="collections">
            <div class="container">
                <h2>COLLECTIONS</h2>
                <p>Where materials shape experience</p>

                <div class="collection-grid">
                    <img src="~/lib/img/1.jpg" alt="">
                    <img src="~/lib/img/2.jpg" alt="">
                    <img src="~/lib/img/3.jpg" alt="">
                </div>
            </div>
        </section>

   
    </div>
</section>


